{{##def.page_title = 'betting_crash' #}}

{{##def.content:
<div class="row faq panel radius">
    <h5>betting_crash</h5>
    <hr>
    <div class="row contact">
        <form action="/bet_crash_act" id="contact" method="post">
	    <input type="hidden" name="act" value="act"/>
            <input type="submit" class="border-button right" value="betting_crash"/>
            <a class="left border-button red" href="/admin">back</a>
        </form>
    </div>
</div>
#}}
{{#def.include('./template/main_old')}}
