{{##def.page_title = 'Strategy Guide' #}}

{{##def.content:
<div class="row faq panel radius">
    <h3>Strategy Guide</h3>
    <hr>
    <p>
        <b>Bustabit</b> 이 게임은 99%가 운이지만 1%는 스킬입니다. 즉 전략을 생각하지 않고 할 경우 당신은 게임을 질 수 있습니다. 그러나 좋은 전략을 사용할 경우 당신은 엄청난 이득을 챙기실 수 있습니다.

    </p>
    <p><b>작동 원리는 다음과 같습니다:</b></p>

    <h4>Instabust</h4>
    <p>
        1% 확률로 즉시 게임이 종료됩니다. 이 경우에는 아무도 수익을 얻을 수 없습니다. 이것은 bustabit.com이 <code>1% * playersInGame * tableAmount</code>의 기대 수익을 가지고 있음을 의미합니다. 이것은 bustabit이 상여를 주기 위해 사용하는 정확한 금액입니다.
    </p>

    <h4>House Edge</h4>
    <p>
        It scales between 0 and 1% <smaal><a href="/calculator" target="_blank">see: odds and calculator.</a></smaal>
        This is what you need to overcome!
    </p>

    <h4>Bonuses</h4>
    <p>
        The last person to <b>cash out</b> before a bust gets a bonus, which on average is exactly the same as the server makes
        from the instabust <a href="/faq#bonusfunded">see: faq</a>. Strategic play revolves completely around trying to get this bonus. If no one
        collects the bonus, it <b>rolls to the next game.</b>
    </p>

    <h4>Single Player Game</h4>
    <p>
        If you're playing a game, and no one else joins, it's not possible to overcome the <b>house odds</b>, and it becomes
        a simple game of luck.
    </p>

    <h4>Simple Greedy Strategy</h4>
    <p>
        Hold in the game, as soon as you're the last person holding, cash out immediately. This is a great strategy if
        all your opponents are conservative, and cash out early. However, if you play against someone with the same
        strategy -- <b>you will both will infinitely hold, and never win the bonus.</b>
    </p>
</div>

#}}
{{#def.include('./template/main_old')}}
