
{{##def.content:

<div class="content row panel radius">

<h5 id="top">공지사항</h5>
<table class="leaders">


{{~it.notice :notice_t:index}}
	<tr>
	<thead>
	/*<td>{{=notice_t.idx}}</td>*/
	<td>{{=notice_t.title}}</a></td>	
	/*<td>작성날짜:{{=notice_t.date.format("yyyy년  MM월  dd일  a/p hh시  mm분  ss초")}}</td>*/
	</tr>
	</thead>
	<tbody>
{{~}}


<tr>
{{~it.notice :notice_t:index}}
	<td style=text-align:left;>{{=notice_t.content.replace(/\r\n/gi, '<br>')}}</td>
</tr>
{{~}}
</tbody>
</body>
</table>
 {{?it.notice.length > 20 }} <a class="border-button red right" href="#top">Top</a>{{?}}
</div>
#}}

{{#def.include('./template/main_old')}}

