<header>
    <nav class="nav-top-bar">

        <div class="title">
            <a href="/">
                <h1 class="hide-for-small-only">Test graph</h1>
  
            </a>
        </div>

        <div class="show-for-small-up user-login">
        {{?it.user}}
            <div class="balance-bits">
  
                <span class="balance" id="balance_bits">{{#def.format:{n: it.user.balance_satoshis, decimals:0} }}</span>
		<span>원</span>
            </div>
            <div class="username">
                <a href="/account">{{=it.user.username}}</a>
            </div>
        {{??}}
            <div class="register">
                <a href="/register">계정생성</a>
            </div>
            <div class="login">
                <a href="/login">로그인</a>
            </div>
        {{?}}
        </div>

    </nav>
</header>
